<section class="itinerary">
  <h2 class="itinerary__title">Programa de la boda</h2>

  <div class="itinerary__content">

    <div class="itinerary__content-left">
      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759972042/icon-civil_q23wzk.png"
        alt="icon civil"
        data-aos="fade-right"
        data-aos-duration="1000">

      <div class="info"
        data-aos="fade-right"
        data-aos-duration="1000">
        <p class="info__time">1:00 PM</p>
        <p class="info__text">Ceremonia civil</p>
      </div>
    </div>

    <div class="itinerary__content-right">
      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971954/coctel_q2xgfw.svg"
        alt="icon coctel"
        data-aos="fade-left"
        data-aos-duration="1000">

      <div class="info"
        data-aos="fade-left"
        data-aos-duration="1000">
        <p class="info__time">2:00 PM</p>
        <p class="info__text">Coctel de bienvenida</p>
      </div>
    </div>

    <div class="itinerary__content-left">
      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971952/banquete_lkelkc.svg"
        alt="icon banquete"
        data-aos="fade-right"
        data-aos-duration="1000">

      <div class="info"
        data-aos="fade-right"
        data-aos-duration="1000">
        <p class="info__time">3:30 PM</p>
        <p class="info__text">Banquete</p>
      </div>
    </div>

    <div class="itinerary__content-right">
      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971964/pastel_j2i4mj.svg"
        alt="icon pastel"
        data-aos="fade-left"
        data-aos-duration="1000">

      <div class="info"
        data-aos="fade-left"
        data-aos-duration="1000">
        <p class="info__time">7:30 PM</p>
        <p class="info__text">Pastel</p>
      </div>
    </div>

    <div class="itinerary__content-left">
      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971965/ramo_nlbgmu.svg"
        alt="icon banquete"
        data-aos="fade-right"
        data-aos-duration="1000">

      <div class="info"
        data-aos="fade-right"
        data-aos-duration="1000">
        <p class="info__time">8:00 PM</p>
        <p class="info__text">Ramo y liga</p>
      </div>
    </div>

    <div class="itinerary__content-right">
      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971951/banda_r1bavs.svg"
        alt="icon pastel"
        data-aos="fade-left"
        data-aos-duration="1000">

      <div class="info"
        data-aos="fade-left"
        data-aos-duration="1000">
        <p class="info__time">9:00 PM</p>
        <p class="info__text">Batucada</p>
      </div>
    </div>

    <div class="itinerary__content-left">
      <img src="https://res.cloudinary.com/dxxf2jyg8/image/upload/v1759971950/baile_qsk1dm.svg"
        alt="icon banquete"
        data-aos="fade-right"
        data-aos-duration="1000">

      <div class="info"
        data-aos="fade-right"
        data-aos-duration="1000">
        <p class="info__time">11:00 PM</p>
        <p class="info__text">Grupo</p>
      </div>
    </div>

  </div>


  <p class="itinerary__text">
    Nada nos haría más felices que contar con tu compañía en el comienzo de nuestra historia juntos.
  </p>
</section>